// COLOR
$background-color: #ECF2FF;
$primary: #CAC9FF;
$secondary: #303B59;
$secondary_light: rgba(48, 59, 89, 0.5);
$white: #FFFFFF;
$gradient_1: #6240FC;
$gradient_2: #2F2CE9;
$gradient_3: #2124c9;

$red: #FF5555;
$yellow: #FFB21E;
$green: #00bd91;
$blue: #1125D6;
$backgroun_red: #FFF6F6;
$backgroun_yellow: #FFFBF4;
$backgroun_green: #F2FCF9;
$backgroun_blue: #F3F4FD;