$blue: #666CA3;
$blue_dark: #13183F;
$gray: #83869A;
$pink_dark: #F74780;
$pink: #FFA7C3;
$white: #FFFFFF;

$background: #F0F1FF;
$gradient_neutral: #FF6F48;
$gradient_primary: #F02AA6;
$gradient_secondary: #4851FF;

// GRADIENT
@mixin gradient( $color1: $gradient_neutral , $color2: $gradient_primary ){
    background: linear-gradient( $color1 , $color2);
}
