@import './color.scss';
@import './font.scss';

*{
    position: relative;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper{
    @include gradient( $white , $background );
    min-height: 100vh;
    overflow: hidden;       // hide the pattern in intro-container
}
// FOR ALL BUTTON SETTING
.container{
    max-width: 1110px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    cursor: pointer;
    border: 0;
    border-radius: 28px;
    padding: 15px 30px;
    color: $white;
    @include font( $font-m , 700);
    
    &:hover{ opacity: 0.5; }
    &:active{ box-shadow: 0 6px 10px 0px $shadow; }
}

// --- HEADER ------------------------------------------
.header{
    width: 100%;
    padding: 20px 0px;
    z-index: 1;

    .nav{
        &__button{ 
            background-color: $blue_dark;
        }
    }
}

// --- BANNER ------------------------------------------
.intro{
    max-width: 1110px;
    padding: 50px 0;
    margin: 0 auto;

    .intro-container{
        width: 42%;
        padding: 150px 0;

        &__title{
            margin: 0;
            margin-bottom: 30px;
            @include font( $font-head-xl , 800 );
        }

        &__discription{
            margin: 0;
            color: $gray;
            margin-bottom: 40px;
            line-height: 28px;
            @include font( $font-m , 500 );
        }

        &__button{
            @include gradient( $gradient_neutral , $gradient_primary );
        }
    }

    .pattern-container{
        width: 1000px;
        position: absolute;
        top: -30%;
        right: -40%;

        &__img{
            height: 900px;
            background-image: url('../../starter-code/assets/image-hero-desktop.png');
            background-position: left;
            background-repeat: no-repeat;
        }
    }
}

// --- CONTENT ------------------------------------------
.content{
    max-width: 1110px;
    margin: 0 auto;
    padding: 30px 0 150px 0;
    display: grid;
    grid-template-columns: repeat( 3 , 1fr );
    gap: 56px 30px;

    &__title{
        padding: 50px;
        padding-bottom: 150px;
        color: $white;
        border-radius: 15px;
        @include font( $font-head-m , 800 );
        @include gradient;
    }

    &__box{
        border-radius: 15px;
        background-color: $white;
        padding: 50px 30px 80px 30px;

        &__icon{
            position: absolute;
            top: -28px;
        }

        &__title{
            margin: 0;
            @include font( $font-head-s , 700 );
        }

        &__discription{
            margin: 25px 0;
            line-height: 28px;
            color: $gray;
            @include font( $font-m , 500 );
        }

        &__href{
            text-decoration: none;
            color: $pink_dark;
            @include font( $font-m , 700);
            position: absolute;
            bottom: 50px;

            &:hover{ color: $pink;}
        }
    }
}

// --- FOOTER ------------------------------------------
.footer{
    width: 100%;
    height: 120px;
    background-color: $blue_dark;

    .button{
        @include gradient( $gradient_secondary , $gradient_primary );
    }

    .white-background{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $white;
        border-radius: 28px;
        top: 0;
        left: 0;
    }
}

// --- RWD ---------------------------------------------
@media screen and ( max-width: 1280px ){
    .container , .intro , .content{ width: 95%;}
    .intro{
        .intro-container{
            padding: 100px 0;
            width: 40%;
        }
        .pattern-container{
            right: -37%;
        }
    }
}

@media screen and ( max-width: 1024px ){
    .container , .intro , .content{ width: 90%;}
    .intro{
        padding-bottom: 120px;

        .intro-container{
            width: 60%;
            padding: 30px 0;

            &__title{
                @include font( $font-head-l , 800 );
                margin-bottom: 25px;
            }
            &__discription{
                @include font( $font-s , 500 );
                margin-bottom: 25px;
            }
        }

        .pattern-container{
            width: 640px;
            right: -285px;

            &__img{
                height: 700px;
                background-image: url('../../starter-code/assets/image-hero-tablet.png');
            }
        }
    }

    .content{
        grid-template-columns: repeat( 2 , 1fr );
        column-gap: 10px;

        &__title{
            padding: 50px 30px;
            @include font( $font-head-s , 800 );
            line-height: 32px;
        }
        &__box{
            padding: 50px 25px 70px 25px;

            &__title{
                @include font( $font-m , 800 );
            }

            &__discription{
                @include font( $font-s , 500 );
                margin: 20px 0;
                line-height: 25px;
            }

            &__href{
                bottom: 30px;
            }
        }
    }
}