$background: #FFF7F0;
$purple: #755CDE;
$orange: #F6A560;
$pink: #F39E9E;
$red: #EB7565;
$green: #61C4B7;
$purple_dark: #552049;
$gray: #7A746E;
$gray_dark: #030303;
$black: #000000;
$white: #FFFFFF;
