@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

$font-head-l: 56px;
$font-head-m: 44px;
$font-head-s: 32px;
$font-head-xs: 26px;

$font-l: 24px;
$font-m: 18px;
$font-s: 16px;
$font-xs: 14px;

@mixin font( $fontSize: $font-xs , $fontWeight: 500 ){
    font: {
        size: $fontSize;
        weight: $fontWeight;
    }
}