@import "color.scss" , "font.scss";

*{
    position: relative;
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    @include font;
}
.wrapper{
    min-height: 100vh;
    background-color: $background;
    overflow: hidden;
}

// --- FLEX CENTER LAYOUT ---
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// --- COMMON ELEMENT ----
%button {
    cursor: pointer;
    border-radius: 28px;
    padding: 8px 28px;
    border: 0;
    color: $white;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.2px;

    &:active{
        box-shadow: 0 5px 8px 1px $shadow;
        transform: translateY(1px);
    }
}

.header , .footer{
    padding: 16px;
    @extend %flex-center;
    justify-content: space-between;

    &__logo{
        width: 48px;
        height: 48px;
        cursor: pointer;
    }

    &__button{
        @extend %button;
        background-color: $black;

        &--hover:hover{ background-color: $purple; }
    }
}

.main{
    width: 90%;
    padding: 16px 0;
    margin: 0 auto;

    // HEADLINE BLOCK
    .headline{
        text-align: center;
        &__title{
            margin: 0;
            @include font( $font-head-s , 700 );
        }
        &__description{
            color: $gray;
            width: 80%;
            margin: 0 auto;
            padding: 16px 0 32px 0;
            font-size: 16px;
            line-height: 26px;
        }
    }

    // BANNER BLOCK
    .banner{
        width: 100%;
        display: grid;

        // Grid layout
        grid-template-columns: repeat( 2 , 1fr );
        grid-template-rows: 364px 182px 158px 182px 182px;
        grid-gap: 24px;

        &__img-box{
            border-radius: 8px;
            padding: 24px;

            text-align: end;
        }
        &__topic{
            color: $white;
            @include font( $font-l , 700 );
            position: absolute;
            bottom: 24px;
        }

        // image position
        .img-graphic-design{
            background-color: $purple;
            grid-column: 1/3;
        }
        .img-ui-ux{
            background-color: $orange;
            grid-column: 1/2;
        }
        .img-apps{
            background-color: $pink;
            grid-column: 2/3;
        }
        .img-illustrations{
            background-color: $red;
            grid-column: 1/3;
        }
        .img-photography{
            background-color: $green;
            grid-column: 1/3;
        }
        .img-motion-graphics{
            background-color: $purple_dark;
            grid-column: 1/3;
        }
    }

    // INTRODUCTION BLOCK
    .intro{
        margin: 100px 0;

        .photo-box{
            width: 87%;
            margin: 0 auto;

            &__photo{ width: 100%; }
        }
        .content-box{
            text-align: center;

            &__title{
                margin: 0;
                padding-top: 40px;
                @include font( $font-head-xs , 700 );
            }
            &__description{
                margin: 24px 0;
                color: $gray;
                @include font( $font-s , 400 );
                line-height: 26px;
            }
            &__button{
                @extend %button;
                background-color: $red;

                &--hover:hover{
                    background-color: $orange;
                }
            }
        }
    }

    // SLIDE BLOCK
    .slide{
        text-align: center;

        &__title{
            @include font( $font-l , 700 );
            margin-bottom: 32px;
        }

        &__img-box{
            max-width: 100vw;
            display: grid;
            grid-template: 180px / repeat( 5 , 270px ) ;
            grid-gap: 15px;
            justify-content: center;

            .slide-img{
                height: 100%;
                border-radius: 10px;
                }
            }
        

        &__arrow{
            background-color: $black;
            border-radius: 50%;
            padding: 24px;
            margin-top: 32px;
            cursor: pointer;
        
            &--hover:hover{
                background-color: $purple;
            }
            &:last-child{
                margin-left: 16px;
            }
        }
    }

    // BOOKING BLOCK
    .booking{
        margin: 100px 0 24px 0;
        padding: 48px 24px;
        border-radius: 10px;
        background-color: $black;
        text-align: center;

        .text-box{
            color: $white;

            &__title{
                margin: 0;
                @include font( $font-head-xs , 700 );
            }
            &__description{
                margin: 24px 0;
                @include font( $font-s , 400 );
                line-height: 26px;
            }
        }

        &__button{
            @extend %button;
            background-color: $red;

            &--hover:hover{
                background-color: $orange;
            }
        }
    }
}

// --- RWD -------------------------------------------------
// TABLET
@media screen and ( min-width: 576px ){
    .header, .footer{
        width: 90%;
        margin: 0 auto;
        padding: 34px 0 56px 0;
    }

    .main{
        padding: 8px 0;
        
        .headline{
            &__title{
                font-size: $font-head-m;
            }
            &__description{
                width: 75%;
                padding: 27px 0 64px 0;
            }
        }
        .banner{
            grid-template-columns: repeat( 4 , 1fr );
            grid-template-rows: 182px 158px 182px;

            .img-graphic-design{
                grid-column: 1/3;
                grid-row: 1/3;
            }
            .img-ui-ux{
                grid-column: 3/4;
                grid-row: 1/2;
            }
            .img-apps{
                grid-column: 4/5;
                grid-row: 1/2;
            }
            .img-illustrations{
                grid-column: 3/5;
                grid-row: 2/3;
            }
            .img-photography{
                grid-column: 1/3;
            }
            .img-motion-graphics{
                grid-column: 3/5;
            }
        }
        .intro{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .photo-box{
                width: 364px;
                margin: 0;
                left: -12%;
            }
            .content-box{
                width: 47%;
                text-align: left;
                &__title{
                    padding: 0;
                    font-size: $font-head-s;
                }
                &__description{
                    font-size: $font-m;
                }
            }
        }
        .slide{
            &__img-box{
                grid-template: 360px / repeat( 5 , 540px ) ;
                grid-gap: 30px;    
            }
        }
        .booking{
            margin: 120px 0 22px 0;
            padding: 56px 0 64px 0;
            
            .text-box{
                &__description{
                    width: 78%;
                    margin: 26px auto;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}

// DESKTOP
@media screen and ( min-width : 992px ){
    .main{
        .headline{
            &__title{ font-size: $font-head-l; }
            &__description{ width: 700px;}
        }
        .banner{
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-rows: 182px 158px;

            .img-graphic-design{
                grid-column: 1/2;
            }
            .img-ui-ux{
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .img-apps{
                grid-column: 3/4;
                grid-row: 1/2;
            }
            .img-illustrations{
                grid-column: 2/4;
                grid-row: 2/3;
            }
            .img-photography{
                grid-column: 4/5;
                grid-row: 1/2;
            }
            .img-motion-graphics{
                grid-column: 4/5;
                grid-row: 2/3;
            }
        }
        .intro{
            justify-content: space-between;
            .photo-box{
                width: 445px;
                left: 0;
            }
        }
        
        .booking{
            width: 100%;
            padding: 80px 65px;
            margin: 88px 0 56px 0;
            text-align: left;
            display: flex;
            justify-content: space-between;

            .text-box{
                width: 55%;
                
                &__title{
                    font-size: $font-head-m;
                }
                
                &__description{
                    width: 100%;
                    margin: 0;
                    margin-top: 25px;
                }
            }

            &__button{
                height: 44px;
                align-self: center;
            }
        }
    }
}

@media screen and ( min-width: 1200px ){
    .header, .main, .footer{
        width: 1110px;
    }
}