@import 'base.scss';

// --- BACKGROUND IMAGE --------------
.figure{
    margin: 0;

    &__img{
        width: 100%;
        object-fit: cover;
    }
}

// --- TEXT ---------------------------
.illustrate{
    padding: 40px 24px;
    margin: 0 auto;        
        
    // INTRODUCTION AREA
    .intro{
        &__title{ margin-top: 0; }
        &__item{
            padding-top: 10px;

            .item-box{
                padding-bottom: 15px;
                display: flex;
                align-items: start;
                
                &__img{ margin-right: 15px; }
                &__text{
                    margin: 0;
                    line-height: 2.1rem;
                }
            }
        }
    }

    // EMAIL AREA
    .email{
        &-container{ padding-top: 10px; }
        &__title{
            margin: 0;
            font-size: 1.4rem;
            font-weight: 700;

            .email__message{
                color: $primary;
                position: absolute;
                right: 0;
            }
        }
        &__input{
            cursor: pointer;
            width: 100%;
            border: 1px solid $secondary_light;
            border-radius: 8px;
            padding: 16px;
            margin: 8px 0 24px 0;

            &:focus-visible{
                outline: 1px solid $secondary;
            }
        }
    }
}

// --- RWD ------------------------------
// TABLET
@media screen and ( min-width : 576px ){
    .illustrate{ padding: 40px; }
    .figure{
        &__img{
            height: 425px;
            border-radius: 0 0 20px 20px;
        }
    }
}

// DESKTOP
@media screen and ( min-width: 992px){
    .wrapper{
        @include flex-center();
        background-color: $background;
    }
    .main{
        width: 928px;
        border-radius: 36px;
        padding: 20px;
        display: flex;
        flex-direction: row-reverse;
    }
    .figure{
        width: 50%;
        
        &__img{
            height: 100%;
            border-radius: 20px;
            object-position: center;
        }
    }
    .illustrate{
        padding-top: 70px;
        padding-right: 70px;

        .intro{
            &__title{
                font-size: 56px;
            }
        }
    }
}