<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="stylesheet" href="../public/css/thank.css">
  <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon-32x32.png">
  
  <title>Frontend Mentor | Thank you</title>
</head>
<body>
     <div class="wrapper">
        <main class="main">
            <section class="thank thank-container">
                <img
                  class="thank__icon"
                  src="../public/images/icon-success.svg"
                  alt="">
                <h1 class="thank__title">Thanks for subscribing!</h1>
                <p class="thank__description">
                    A confirmation email has been sent to <b>ash@loremcompany.com</b>.
                    Please open it and click the button inside to confirm your subscription.
                </p>
            </section>
            <button class="thank__button button button--hover button--active">Dismiss message</button>
        </main>
     </div>
</body>
</html>