// LIGHT MODE COLOR
:root {
    --wrapper: #F6F8FF;
    --background: #FEFEFE;
    --primary: #4B6A9B;
    --secondary: #697C9A;
    --neutral: #2B3442;
    --switch: #222731;
}

// COMMON
$blue: #0079FF;
$blue_lighter: #60ABFF;
$red: #F74646;
$white: #FFFFFF;
$shadow: rgba(70, 96, 187, 0.2);
