// LIGHT MODE COLOR
$light_wrapper: #F6F8FF;
$light_background: #FEFEFE;
$light_primary: #4B6A9B;
$light_secondary: #697C9A;
$light_neutral: #2B3442;
$light_switch: #222731;

// DARK MODE COLOR
$dark_wrapper: #141D2F;
$dark_background: #1E2A47;
$dark_primary: #FFFFFF;
$dark_switch: #90A4D4;

// COMMON
$blue: #0079FF;
$blue_lighter: #60ABFF;
$red: #F74646;
$white: #FFFFFF;
$shadow: rgba(70, 96, 187, 0.2);
