@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@mixin font( $size , $weight , $lineHeight ){
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}

@mixin font-header-l{
    @include font( 26px , 700 , 38px );
}
@mixin font-header-m{
    @include font( 22px , 700 , 33px );
}
@mixin font-header-s{
    @include font( 16px , 400 , 24px );
}
@mixin font-body-m{
    @include font( 15px , 400 , 25px );
}
@mixin font-body-s{
    @include font( 13px , 400 , 25px );
}
@mixin font-body-xs{
    @include font( 11px , 400 , 16px );
}