@import 'font.scss' , 'color.scss';

*{
    position: relative;
    box-sizing: border-box;
}
body{
    font-family: 'Space Mono', monospace;
    height: 100%;
}
.darkmode{
    // Moify colors
    --wrapper: #141D2F;
    --background: #1E2A47;
    --primary: #FFFFFF;
    --secondary: #FFFFFF;
    --neutral: #FFFFFF;
    --switch: #90A4D4;
    
    .header__mode-icon{
        filter: brightness(0) saturate(100%) invert(89%) sepia(14%) saturate(7054%) hue-rotate(185deg) brightness(87%) contrast(89%);
    }
    .social-box__icon{
        filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(2%) hue-rotate(4deg) brightness(113%) contrast(101%);
    }
    // Clear box shadow
    .search , .content-container{
        box-shadow: none;
    }
    .header{
        .light{ display: inline; }
        .dark{ display: none;}
    }
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    min-height: 100vh;
    background-color: var(--wrapper);
    padding: 31px 0 80px 0;
}

.header, .main{
    width: 87%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    &__logo{
        @include font-header-l;
        margin: 0;
        cursor: pointer;
        color: var(--neutral);
    }
    &__mode{
        @include font-body-s;
        font-weight: 700;
        cursor: pointer;
        letter-spacing: 2.5px;
        color: var(--switch);
        display: flex;
        align-items: center;

        span{ margin-right: 16px; }
    }

    &__mode-icon{
        width: 20px;
        height: 20px;
        filter: brightness(0) saturate(100%) invert(9%) sepia(34%) saturate(582%) hue-rotate(180deg) brightness(91%) contrast(85%);
    }
    .light{ display: none; }
    .dark{ display: inline;}
}

// SEARCH BAR ----------------------------------
.search{
    background-color: var(--background);
    border-radius: 15px;
    padding: 7px;
    @extend %flex-center;
    justify-content: space-between;
    margin-bottom: 16px;
    box-shadow: 0px 16px 30px -10px $shadow;
    
    &__box{
        width: 95%;
        display: flex;
        align-items: center;
    }
    &__icon{
        width: 20px;
        height: 20px;
        margin: 0 9px;
    }
    &__input{
        width: 90%;
        border: 0;
        cursor: text;
        @include font-body-s;
        outline: none;
        background-color: transparent;
        color: var(--neutral);
        text-overflow: ellipsis;
    }    
    &__close-icon{
        display: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
        right: 3px;

        path{
            fill: var(--secondary);
        }
        &--hover:hover{
            transform: scale(1.2);
        }
    }
    &__button{
        font-weight: 700;
        cursor: pointer;
        background-color: $blue;
        padding: 11px 16px;
        border: 0;
        border-radius: 10px;
        color: $white;
        @include font-body-s;

        &--hover:hover{
            background-color: $blue-lighter;
        }
        &--active:active{
            box-shadow: 0px 4px 3px -1px $shadow;
        }
    }
}

// CONTENT -------------------------------------------
.content-container{
    background-color: var(--background);
    border-radius: 15px;
    padding: 24px;
    box-shadow: 0px 16px 30px -10px $shadow;
    color: var(--secondary);
    @include font-body-s;
    
    // INDIVIDUAL
    .individual{
        display: flex;
        align-items: center;
        margin-top: 8px;
        
        &__head-photo{
            width: 70px;
            height: 70px;
            margin-right: 19px;
        }
        &__username{
            @include font-header-s;
            font-weight: 700;
            margin: 0;
            color: var(--neutral);
        }
        &__link{ color: $blue; }
    }

    // PARAGRAPH
    .paragraph{
        padding: 33px 0 23px 0;
    }

    // GITHUB DETAIL
    .github{
        background-color: var(--wrapper);
        border-radius: 10px;
        padding: 18px 14px;
        display: flex;
        justify-content: space-evenly;
        
        &-box{
            text-align: center;

            &__headline{
                @include font-body-xs;
                margin-bottom: 8px;
            }
            &__amount{
                @include font-header-s;
                font-weight: 700;
                color: var(--neutral);
            }
        }
    }

    // SOCIAL MEDIA
    .social{
        margin: 24px 0 48px 0;

        &-box{
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            
            &__text{
                margin-left: 13px;
                line-height: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__icon{
                width: 20px;
                height: 20px;
                object-fit: none;
            }
        }

        &__link{
            color: var(--secondary);
            
            &--hover:hover{
                text-decoration: underline;
            }

            &--active:active{
                color: $blue;
            }
        }
    }
}

// RWD ---------------------------------------------
// TABLET
@media screen and ( min-width: 576px){
    .header, .main{
        width: 75%;
    }
    .search{
        padding: 9px;
        margin-bottom: 24px;

        &__icon{ margin: 0 23px; }
        &__button{
            font-size: 16px;
            padding: 13px 24px;
        }
        &__close-icon{
            right: 8px;
        }
    }
    
    .content-container{
        padding: 40px;

        .individual{
            &__head-photo{
                width: 117px;
                height: 117px;
                margin-right: 37px;
            }
            &__username{
                @include font-header-l;
            }
            &__link{
                @include font-header-s;
                margin: 3px 0;
            }
            &__joined-date{
                @include font-body-m;
            }
        }

        .paragraph{
            @include font-body-m;
            padding-top: 24px;
        }

        .github{
            padding: 16px 32px;

            &-box{
                width: 33%;
                text-align: start;
                &__headline{
                    @include font-body-s;
                    margin: 0;
                }
                &__amount{
                    @include font-header-m;
                }
            }
        }

        .social{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 0;

            &-box{
                width: 45%;
                
                &:nth-child(odd){
                    order: -1;
                }
                &__text{ @include font-body-m; }
            }
        }
    }
}

@media screen and ( min-width: 992px ) {
    .header, .main{
        width: 730px;
    }
    .search{
        &__input{ font-size: 18px; }
    }
    .content-container{
        padding: 48px;
        
        .individual{
            .user-box{
                width: 100%;
            }
            align-items: flex-start;

            &__joined-date{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .paragraph{ 
            margin-top: -20px;
            padding-top: 0;
        }
        .paragraph , .github , .social{
            width: 480px;
            margin-left: auto;
        }
    }
}