@import 'font.scss' , 'color.scss';

*{
    position: relative;
    box-sizing: border-box;
}
body{
    font-family: 'Space Mono', monospace;
    min-height: 100%;
}
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    height: 100%;
    background-color: $light_wrapper;
    padding-top: 31px;
}

.header, .main{
    width: 87%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    &__logo{
        @extend %font-header-l;
        margin: 0;
        cursor: pointer;
        color: $light_switch;
    }
    &__mode{
        @extend %font-body-s;
        font-weight: 700;
        cursor: pointer;
        letter-spacing: 2.5px;
        color: $light_primary;
        display: flex;
        align-items: center;

        span{ margin-right: 16px; }
    }
}

.main{
    // SEARCH BAR ----------------------------------
    .search{
        background-color: $light_background;
        border-radius: 15px;
        padding: 7px;
        @extend %flex-center;
        justify-content: space-between;
        margin-bottom: 16px;
        box-shadow: 0px 16px 30px -10px $shadow;
        
        &__icon{
            width: 20px;
            height: 20px;
            margin-left: 9px;
        }
        &__input{
            width: 60%;
            border: 0;
            cursor: pointer;
            @extend %font-body-s;
            outline: none;
        }
        &__button{
            font-weight: 700;
            cursor: pointer;
            background-color: $blue;
            padding: 11px 16px;
            border: 0;
            border-radius: 10px;
            color: $white;
            @extend %font-body-s;

            &--hover:hover{
                background-color: $blue-lighter;
            }
            &--active:active{
                box-shadow: 0px 4px 3px -1px $shadow;
            }
        }
    }

    // CONTENT -------------------------------------------
    .content-container{
        background-color: $light_background;
        border-radius: 15px;
        padding: 24px;
        box-shadow: 0px 16px 30px -10px $shadow;
        color: $light_secondary;
        @extend %font-body-s;
        
        // INDIVIDUAL
        .individual{
            display: flex;
            align-items: center;
            margin-top: 8px;
            
            &__head-photo{
                width: 70px;
                height: 70px;
                margin-right: 19px;
            }
            &__username{
                @extend %font-header-s;
                font-weight: 700;
                margin: 0;
                color: $light_neutral;
            }
            &__link{ color: $blue; }
        }

        // PARAGRAPH
        .paragraph{
            padding: 33px 0 23px 0;
        }

        // GITHUB DETAIL
        .github{
            background-color: $light_wrapper;
            border-radius: 10px;
            padding: 18px 14px;
            display: flex;
            justify-content: space-evenly;
            
            &-box{
                text-align: center;

                &__headline{
                    @extend %font-body-xs;
                    margin-bottom: 8px;
                }
                &__amount{
                    @extend %font-header-s;
                    font-weight: 700;
                    color: $light_neutral;
                }
            }
        }

        // SOCIAL MEDIA
        .social{
            margin: 24px 0 48px 0;

            &-box{
                display: flex;
                margin-bottom: 16px;

                &__text{
                    margin-left: 13px;
                    line-height: 20px;
                }
            }
        }
    }


}