// background
$background_top: #B068E9;
$background_bottom: #6463E7;

// text
$primary: hsl(237, 12%, 33%);
$primary_dark: hsl(238, 29%, 16%);
$primary_light: hsl(240, 6%, 50%);
$secondary: hsl(14, 88%, 65%);

// divider
$divider: hsl(240, 5%, 91%);