@import 'color.scss';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    position: relative;
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    z-index: -99;
}
details{ border-bottom: 1px solid $divider; }
summary{ list-style: none; }

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin image( $url ){
    background: {
        image: $url;
        repeat: no-repeat;
        size: contain;
    }
}

.wrapper{
    min-height: 100vh;
    background: linear-gradient( $background_top , $background_bottom );
    overflow: auto;
    z-index: -3;
}
.main{
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: $white;
    border-radius: 23px;
    z-index: -2;
}

// FIGURE
.figure{
    margin: 0 50px;
    top: -107px;

    &__woman{
        width: 100%;
        padding-top: 75%;
        @include image(url('../images/illustration-woman-online-mobile.svg'));
    }
    &__woman::before{
        content: "";
        display: block;
        width: 100%;
        height: 150px;
        @include image(url('../images/bg-pattern-mobile.svg'));
        position: absolute;
        top: 55%;
        z-index: -1;
    }
}

// QUESTION
.text{
    width: 100%;
    text-align: center;
    margin-top: -70px;
    padding: 0px 20px 50px 20px;
    font: {
        family: 'Kumbh Sans', sans-serif;
        size: 12px;
        weight: 400;
    }

    &__title{
        margin: 0;
        padding-bottom: 20px;
        color: $primary_dark;
        font-size: 32px;
        font-weight: 700;
    }

    .question-box{
        width: 100%;
        text-align: left;

        &__topic{
            font-size: 13px;
            color: $primary;
            cursor: pointer;
            padding: 18px 5px;
            @include flex-center;
            justify-content: space-between;

            &--hover:hover{ color: $secondary; }
        }
        &__arrow{ height: 7px;}
        &__answer{
            margin: 0;
            padding: 0 25px 12px 5px;
            color: $primary_light;
        }

        // UNFOLD QUESTIONS 
        &[open] summary{
            color: #000000;
            font-weight: 700;
        }
        &[open] summary img{
            transform: rotate(180deg);
        }
    }
}

// TABLET
@media screen and ( min-width: 480px ){
    .main{ width: 435px;}
    .text{
        .question-box{
            &__topic{ font-size: 14px; }
        }
    }
}

// DESKTOP
@media screen and ( min-width: 1024px){
    .wrapper{
        @include flex-center;
    }
    .main{
        width: 920px;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .figure{
        width: 50%;
        top: 0;
        margin: 0;
        overflow: hidden;

        &__woman{
            @include image(url('../images/illustration-woman-online-desktop.svg'));
            top: 20%;
            right: 15%;
        }
        &__woman::before{
            width: 965px;
            height: 945px;
            @include image(url('../images/bg-pattern-desktop.svg'));
            right: 0;
            top: -110%;
        }
        &__box{
            width: 150px;
            height: 150px;
            @include image(url('../images/illustration-box-desktop.svg'));
            position: absolute;
            left: -73px;
            top: 230px;
            animation: jump 1.3s infinite ease-in-out;
        }
    }
    @keyframes jump {
        0%{ top: 230px; }
        50%{ top: 200px;}
        100%{ top: 230px;}
    }

    .text{
        width: 50%;
        margin: 0;
        padding: 50px 100px 100px 0;

        &__title{
            text-align: left;
        }
    }
}