@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  z-index: -99;
}

details {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

summary {
  list-style: none;
}

.wrapper {
  min-height: 100vh;
  background: linear-gradient(#B068E9, #6463E7);
  overflow: auto;
  z-index: -3;
}

.main {
  width: 90%;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #FFFFFF;
  border-radius: 23px;
  z-index: -2;
}

.figure {
  margin: 0 50px;
  top: -107px;
}
.figure__woman {
  width: 100%;
  padding-top: 75%;
  background-image: url("../images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.figure__woman::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 55%;
  z-index: -1;
}

.text {
  width: 100%;
  text-align: center;
  margin-top: -70px;
  padding: 0px 20px 50px 20px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.text__title {
  margin: 0;
  padding-bottom: 20px;
  color: hsl(238, 29%, 16%);
  font-size: 32px;
  font-weight: 700;
}
.text .question-box {
  width: 100%;
  text-align: left;
}
.text .question-box__topic {
  font-size: 13px;
  color: hsl(237, 12%, 33%);
  cursor: pointer;
  padding: 18px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.text .question-box__topic--hover:hover {
  color: hsl(14, 88%, 65%);
}
.text .question-box__arrow {
  height: 7px;
}
.text .question-box__answer {
  margin: 0;
  padding: 0 25px 12px 5px;
  color: hsl(240, 6%, 50%);
}
.text .question-box[open] summary {
  color: #000000;
  font-weight: 700;
}
.text .question-box[open] summary img {
  transform: rotate(180deg);
}

@media screen and (min-width: 480px) {
  .main {
    width: 435px;
  }
  .text .question-box__topic {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    width: 920px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .figure {
    width: 50%;
    top: 0;
    margin: 0;
    overflow: hidden;
  }
  .figure__woman {
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 20%;
    right: 15%;
  }
  .figure__woman::before {
    width: 965px;
    height: 945px;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: -110%;
  }
  .figure__box {
    width: 150px;
    height: 150px;
    background-image: url("../images/illustration-box-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -73px;
    top: 230px;
    animation: jump 1.3s infinite ease-in-out;
  }
  @keyframes jump {
    0% {
      top: 230px;
    }
    50% {
      top: 200px;
    }
    100% {
      top: 230px;
    }
  }
  .text {
    width: 50%;
    margin: 0;
    padding: 50px 100px 100px 0;
  }
  .text__title {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */