@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;300;700&display=swap');

$font-head-s: 26px;
$font-head-m: 48px;
$font-head-l: 52px;

$font-xs: 14px;
$font-s: 15px;
$font-m: 18px;

@mixin font ($size, $weight: 100){
    font: {
        family: 'Chivo', sans-serif;
        size: $size;
        weight: $weight;
    }
}