@import 'color.scss';
@import 'font.scss';

*{
    position: relative;
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// WRAPPER  and BACKGROUND
.wrapper{
    min-height: 100vh;
    background-color: $background;
}
.background{
    width: 100%;
    height: 640px;
    position: absolute;
    background: {
        image: url('../images/desktop/image-host.jpg');
        repeat: no-repeat;
        size: auto;
        position: right 40% top;
    }
    filter: grayscale(100%);
    opacity: 0.1;
}


// LOGO
.header{
    width: 100%;
    padding: 50px 40px;
    @include flex-center;
}

// CONTENT
.main{
    width: 100%;
    padding: 0 24px;
}
.intro{

    &__title{
        margin: 0;
        color: $primary;
        text-align: center;
        @include font($font-head-s);

        span{
            color: $white;
            display: block;
            margin-top: 10px;
        }
    }

    &__content{
        color: $secondary_lighter;
        line-height: 25px;
        margin: 0;
        padding: 20px 14px;
        text-align: center;
        @include font($font-xs);
    }
}

.social-container{
    width: 100%;
    margin: 0;
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr;

    &__img{
        height: auto;
        max-width: 100%;
    }
}

.input-container{
    padding: 50px 0;

    &__input , &__button{
        width: 100%;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 28px;
        border: 0;
        @include font( $font-xs , 700);
        color: $white;
        background-color: $secondary;
    }

    &__button{
        margin: 0;
        margin-top: 16px;
        text-align: center;
        color: #000000;
        background-color: $primary;
    }
    &__button:hover{
        background-color: $primary_light;
    }
    &__button:active{
        box-shadow: 0 5px 10px 0 $shadow;
        transform: translate(0px, 1px);
    }

    &__error-message{
        width: 100%;
        left: 20px;
        top: 5px;
        color: $red;
        @include font( 12px , 700 );
    }
}

// TABLET
@media screen and ( min-width : 480px ){
    .background{
        width: 490px;
        right: 0;
        background-position: center top;
        filter: grayscale(0%);
        opacity: 1;
    }
    .header{ display: block;}
    .main{
        width: 85%;
        background-color: $background;
        padding: 80px 0 0 10px;
        margin: 50px 0 150px 30px;
    }
    .intro{
        &__title{
            text-align: left;
            @include font($font-head-m);
        }
        &__content{
            width: 70%;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
            @include font($font-m);
        }
    }
    .social-container{
        width: 85%;
        position: absolute;
        bottom: 0;
    }
    .input-container{
        width: 70%;
        padding-bottom: 100px;
    }
    .dot-img{
        height: 104px;
        margin-left: 40px;
        background: {
            image: url('../images/desktop/bg-pattern-dots.svg');
            repeat: no-repeat;
        }
    }
}
@media screen and ( min-width: 768px ){
    .input-container{
        padding-top: 0;
        margin-top: 35px;
        &__input{ padding: 20px;}
        &__button{
            margin: 5px;
            width: 160px;
            position: absolute;
            right: 0;
            top: 0;
        }
        &__button:active{ box-shadow: none;}
    }
}
// DESKTOP
@media screen and ( min-width: 1024px ){
    .background{ margin-top: 130px;}
    .header{ padding-top: 100px;}
    .main{ max-width: 720px;}
}

@media screen and ( min-width: 1200px ){
    .background{
        width: 100%;
        right: 0;
        background: {
            position: right top;
        }
    }
    .header{ padding-left: 100px;}
    .main{
        margin-left: 90px;
        margin-bottom: 100px;
    }
    .dot-img{
        margin: 0;
        background-position: right;
        top: -155px;
    }
}