@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.wrapper {
  min-height: 100vh;
  background-color: #FFF7F0;
}

.header, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .booking__button, .main .intro .content-box__button, .header__button, .footer__button {
  cursor: pointer;
  border-radius: 28px;
  padding: 8px 28px;
  border: 0;
  color: #FFFFFF;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.main .booking__button:active, .main .intro .content-box__button:active, .header__button:active, .footer__button:active {
  box-shadow: 0 5px 8px 1px #BBBBBB;
  transform: translateY(1px);
}

.header, .footer {
  padding: 16px;
  justify-content: space-between;
}
.header__logo, .footer__logo {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.header__button, .footer__button {
  background-color: #000000;
}
.header__button--hover:hover, .footer__button--hover:hover {
  background-color: #755CDE;
}

.main {
  width: 90%;
  padding: 16px 0;
  margin: 0 auto;
}
.main .headline {
  text-align: center;
}
.main .headline__title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}
.main .headline__description {
  color: #7A746E;
  width: 80%;
  margin: 0 auto;
  padding: 16px 0 32px 0;
  font-size: 16px;
  line-height: 26px;
}
.main .banner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 364px 182px 158px 182px 182px;
  grid-gap: 24px;
}
.main .banner__img-box {
  border-radius: 8px;
  padding: 24px;
  text-align: end;
}
.main .banner__topic {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  bottom: 24px;
}
.main .banner .img-graphic-design {
  background-color: #755CDE;
  grid-column: 1/3;
}
.main .banner .img-ui-ux {
  background-color: #F6A560;
  grid-column: 1/2;
}
.main .banner .img-apps {
  background-color: #F39E9E;
  grid-column: 2/3;
}
.main .banner .img-illustrations {
  background-color: #EB7565;
  grid-column: 1/3;
}
.main .banner .img-photography {
  background-color: #61C4B7;
  grid-column: 1/3;
}
.main .banner .img-motion-graphics {
  background-color: #552049;
  grid-column: 1/3;
}
.main .intro {
  margin: 100px 0;
}
.main .intro .photo-box {
  width: 87%;
  margin: 0 auto;
}
.main .intro .photo-box__photo {
  width: 100%;
}
.main .intro .content-box {
  text-align: center;
}
.main .intro .content-box__title {
  margin: 0;
  padding-top: 40px;
  font-size: 26px;
  font-weight: 700;
}
.main .intro .content-box__description {
  margin: 24px 0;
  color: #7A746E;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.main .intro .content-box__button {
  background-color: #EB7565;
}
.main .intro .content-box__button--hover:hover {
  background-color: #F6A560;
}
.main .booking {
  margin: 100px 0 24px 0;
  padding: 48px 24px;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
}
.main .booking .text-box {
  color: #FFFFFF;
}
.main .booking .text-box__title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}
.main .booking .text-box__description {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.main .booking__button {
  background-color: #EB7565;
}
.main .booking__button--hover:hover {
  background-color: #F6A560;
}

@media screen and (min-width: 576px) {
  .header, .footer {
    width: 90%;
    margin: 0 auto;
    padding: 34px 0 56px 0;
  }
  .main {
    padding: 8px 0;
  }
  .main .headline__title {
    font-size: 44px;
  }
  .main .headline__description {
    width: 75%;
    padding: 27px 0 64px 0;
  }
  .main .banner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 182px 158px 182px;
  }
  .main .banner .img-graphic-design {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .main .banner .img-ui-ux {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .main .banner .img-apps {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .main .banner .img-illustrations {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .main .banner .img-photography {
    grid-column: 1/3;
  }
  .main .banner .img-motion-graphics {
    grid-column: 3/5;
  }
  .main .intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .main .intro .photo-box {
    width: 364px;
    margin: 0;
    left: -12%;
  }
  .main .intro .content-box {
    width: 47%;
    text-align: left;
  }
  .main .intro .content-box__title {
    padding: 0;
    font-size: 32px;
  }
  .main .intro .content-box__description {
    font-size: 18px;
  }
  .main .booking {
    margin: 120px 0 22px 0;
    padding: 56px 0 64px 0;
  }
  .main .booking .text-box__description {
    width: 78%;
    margin: 26px auto;
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (min-width: 992px) {
  .main .headline__title {
    font-size: 56px;
  }
  .main .headline__description {
    width: 700px;
  }
  .main .banner {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 182px 158px;
  }
  .main .banner .img-graphic-design {
    grid-column: 1/2;
  }
  .main .banner .img-ui-ux {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .main .banner .img-apps {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .main .banner .img-illustrations {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .main .banner .img-photography {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .main .banner .img-motion-graphics {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .main .intro {
    justify-content: space-between;
  }
  .main .intro .photo-box {
    width: 445px;
    left: 0;
  }
  .main .booking {
    width: 100%;
    padding: 80px 65px;
    margin: 88px 0 56px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .main .booking .text-box {
    width: 55%;
  }
  .main .booking .text-box__title {
    font-size: 44px;
  }
  .main .booking .text-box__description {
    width: 100%;
    margin: 0;
    margin-top: 25px;
  }
  .main .booking__button {
    height: 44px;
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .header, .main, .footer {
    width: 1110px;
  }
}/*# sourceMappingURL=style.css.map */